<link rel="stylesheet" href="../css/questionnaries.css">
<div class="questionnaries add-remarks">
    <h3>Add Remarks</h3>
    <table>
        <tr>
            <td>Patient Name</td>
            <td> : </td>
            <td><input type="text" disabled></td>
        </tr>
        <tr>
            <td>Visit Type</td>
            <td> : </td>
            <td>
                <select>
                    <option value="OPD">OPD</option>
                    <option value="clinic">Clinic</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Remarks</td>
            <td> : </td>
            <td><textarea rows="5"></textarea></td>
        </tr>

    </table>
    <input class="submit-button" type="submit" value="Add Remarks">
</div>